Documentation/Malware/Master-ENIT-Analisis-Malware-Reversing/modulo-9-tecnicas-de-analisis-de-malware/8-M9T8/utiles/compare-regshot.hivu
Documentation/Malware/Master-ENIIT-Analisis-Malware-Reversing/modulo-9-tecnicas-de-analisis-de-malware/8-M9T8/utiles/compare-regshot.hivu
